<h1>Edit Profile</h1>
<%=  semantic_form_for @user do |f| %>
  <%= f.inputs :name => 'User' do %>
    <%= f.input :login %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
  <%end %>
  <%= f.inputs :name => 'Change Password' do %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>
  <%= f.buttons do  %>
    <%= f.commit_button 'Save' %>
    <li><%= link_to 'Cancel', root_url %></li>
  <% end %>
<%  end %>