<h1>Edit Profile</h1>
<%=  simple_form_for @user do |f| %>
  <%= f.error_notification %>
  <fieldset>
    <legend>User</legend>

    <%= f.input :login %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
  </fieldset>
  <fieldset>
    <legend>Change password</legend>

    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </fieldset>
  <fieldset>
    <div class="actions">
      <%= f.button :submit, 'Save' %>
      <%= link_to 'Cancel', root_url %>
    </div>
  </fieldset>
<% end %>
