- content_for :head do
  = javascript_include_tag "highcharts"
  :javascript
    function _pie_chart(title, render_to, data) {
      new Highcharts.Chart({
        chart: { renderTo: render_to },
        plotOptions: {
          pie: { animation: false }
        },
        tooltip: {
          formatter: function() {
                        return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
                     }
        },
        series: [ { type: 'pie', name: title, data: data } ],
        title: {  text: null },
        credits: { enabled: false }
      });
    }

    function results_chart() {
      _pie_chart('#{t('welcome.project_statistic.test_results')}', 'results_chart', #{raw result_chart_series(@project_statistic.result_percentages)});
    }

    function status_chart() {
      _pie_chart('#{t('welcome.project_statistic.test_status')}', 'status_chart', #{raw status_chart_series(@project_statistic.status_percentages)});
    }

    function testlog_chart() {
      new Highcharts.Chart({
        chart: { renderTo: 'testlog_chart' },
        plotOptions: { line: { animation: false } },
        tooltip: { formatter: function() {
                      return '<b>'+ Highcharts.dateFormat('#{t('welcome.project_statistic.testlog_chart_dateformat')}', this.x) +'</b>: '+ this.y;
                   }
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
           title: {
             text: "#{t('welcome.project_statistic.testlog_chart_count')}"
           }
        },
        series: [ { type: 'line', name: "#{t('welcome.project_statistic.new')}", data: #{raw datetime_series_to_json(@project_statistic.testlog_new_counts)} },
                  { type: 'line', name: "#{t('welcome.project_statistic.ended')}", data: #{raw datetime_series_to_json(@project_statistic.testlog_ended_counts)} } ],
        title: {  text: "#{t('welcome.project_statistic.testlog_chart_title')}" },
        credits: { enabled: false }
      });
    }

    $(function() {
      results_chart();
      status_chart();
      testlog_chart();
    });
.span-24.last
  %ul
    %li
      .span-3.label= t('welcome.project_statistic.current_project')
      = @project_statistic.project_name
    %li
      .span-3.label= t('welcome.project_statistic.testsuites')
      = as_number(@project_statistic.testsuite_count)
    %li
      .span-3.label= t('welcome.project_statistic.testcases')
      = as_number(@project_statistic.testcase_count)
    %li
      .span-3.label= t('welcome.project_statistic.teststeps')
      = as_number(@project_statistic.teststep_count)

.span-24.last
  .span-12
    %h2= t('welcome.project_statistic.test_status')
    %table
      %thead
        %tr
          %th
          %th.right_align= status_label('new')
          %th.right_align= status_label('ended')
          %th.right_align= t('welcome.project_statistic.total')
      %tbody
        %tr
          %td= t('welcome.project_statistic.testsuites')
          %td.right_align= as_number(@project_statistic.testsuiterun_status_groups['new'])
          %td.right_align= as_number(@project_statistic.testsuiterun_status_groups['ended'])
          %td.right_align= as_number(@project_statistic.testsuiterun_count)
        %tr
          %td= t('welcome.project_statistic.testcases')
          %td.right_align= as_number(@project_statistic.testcaserun_status_groups['new'])
          %td.right_align= as_number(@project_statistic.testcaserun_status_groups['ended'])
          %td.right_align= as_number(@project_statistic.testcaserun_count)
        %tr
          %td= t('welcome.project_statistic.teststeps')
          %td.right_align= as_number(@project_statistic.teststeprun_status_groups['new'])
          %td.right_align= as_number(@project_statistic.teststeprun_status_groups['ended'])
          %td.right_align= as_number(@project_statistic.teststeprun_count)
  #status_chart.span-12.last
.span-24.last
  .span-12
    %h2= t('welcome.project_statistic.test_results')
    %table
      %thead
        %tr
          %th
          %th.right_align= result_label('unknown')
          %th.right_align= result_label('ok')
          %th.right_align= result_label('failed')
          %th.right_align= t('welcome.project_statistic.total')
      %tbody
        %tr
          %td= t('welcome.project_statistic.testsuites')
          %td.right_align= as_number(@project_statistic.testsuiterun_result_groups['unknown'])
          %td.right_align= as_number(@project_statistic.testsuiterun_result_groups['ok'])
          %td.right_align= as_number(@project_statistic.testsuiterun_result_groups['failed'])
          %td.right_align= as_number(@project_statistic.testsuiterun_count)
        %tr
          %td= t('welcome.project_statistic.testcases')
          %td.right_align= as_number(@project_statistic.testcaserun_result_groups['unknown'])
          %td.right_align= as_number(@project_statistic.testcaserun_result_groups['ok'])
          %td.right_align= as_number(@project_statistic.testcaserun_result_groups['failed'])
          %td.right_align= as_number(@project_statistic.testcaserun_count)
        %tr
          %td= t('welcome.project_statistic.teststeps')
          %td.right_align= as_number(@project_statistic.teststeprun_result_groups['unknown'])
          %td.right_align= as_number(@project_statistic.teststeprun_result_groups['ok'])
          %td.right_align= as_number(@project_statistic.teststeprun_result_groups['failed'])
          %td.right_align= as_number(@project_statistic.teststeprun_count)
  #results_chart.span-12.last
#testlog_chart.span-24.last

