<% content_for :head do %>
  <%= javascript_include_tag "highcharts" %>

  <script type="text/javascript">
    function _pie_chart(title, render_to, data) {
      new Highcharts.Chart({
        chart: { renderTo: render_to },
        plotOptions: { pie: { animation: false } },
        tooltip: { formatter: function() {
                      return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
                   }
        },
        series: [ { type: 'pie', name: title, data: data } ],
        title: {  text: null },
        credits: { enabled: false }
      });
    }

    function results_chart() {
      _pie_chart('Test Results', 'results_chart', <%= raw @project_statistic.result_percentages.to_json %>);
    }

    function status_chart() {
      _pie_chart('Test Status', 'status_chart', <%= raw @project_statistic.status_percentages.to_json %>);
    }

   function testlog_chart() {
      new Highcharts.Chart({
        chart: { renderTo: 'testlog_chart' },
        plotOptions: { line: { animation: false } },
        tooltip: { formatter: function() {
                      return '<b>'+ Highcharts.dateFormat('%Y-%m-%d', this.x) +'</b>: '+ this.y;
                   }
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
           title: {
             text: "count"
           }
        },
        series: [ { type: 'line', name: 'New', data: <%= raw datetime_series_to_json(@project_statistic.testlog_new_counts) %> },
                  { type: 'line', name: 'Ended', data: <%= raw datetime_series_to_json(@project_statistic.testlog_ended_counts) %> } ],
        title: {  text: 'Testcase statuses of the last two weeks' },
        credits: { enabled: false }
      });
    }

    $(function() {
      results_chart();
      status_chart();
      testlog_chart();
    });
  </script>
  <style>
     #status_chart {
       height: 200px;
     }

     #results_chart {
       height: 200px;
     }

     .right_align {
       text-align: right;
     }
  </style>
<% end %>
<div class="span-24 last">
      <ul>
          <li><div  class="span-3 label">Current project:</div>  <%= @project_statistic.project_name %></li>
          <li><div  class="span-3 label">Testsuites:</div><%= as_number(@project_statistic.testsuite_count) %></li>
          <li><div class="span-3 label">Testcases:</div><%= as_number(@project_statistic.testcase_count) %></li>
          <li><div class="span-3 label">Steps:</div><%= as_number(@project_statistic.teststep_count) %></li>
      </ul>
</div>
<div class="span-24 last">
    <div class="span-12">
      <h2>Test Status</h2>
      <table>
          <thead>
            <tr>
              <th></th>
              <th class="right_align">New</th>
              <th class="right_align">Ended</th>
              <th class="right_align">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Testsuites</td>
              <td class="right_align"><%= as_number(@project_statistic.testsuiterun_status_groups['new']) %></td>
              <td class="right_align"><%= as_number(@project_statistic.testsuiterun_status_groups['ended']) %></td>
              <td class="right_align"><%= as_number(@project_statistic.testsuiterun_count) %></td>
            </tr>
            <tr>
              <td>Testcases</td>
              <td class="right_align"><%= as_number(@project_statistic.testcaserun_status_groups['new']) %></td>
              <td class="right_align"><%= as_number(@project_statistic.testcaserun_status_groups['ended']) %></td>
              <td class="right_align"><%= as_number(@project_statistic.testcaserun_count) %></td>
            </tr>
            <tr>
              <td>Teststeps</td>
              <td class="right_align"><%= as_number(@project_statistic.teststeprun_status_groups['new']) %></td>
              <td class="right_align"><%= as_number(@project_statistic.teststeprun_status_groups['ended']) %></td>
              <td class="right_align"><%= as_number(@project_statistic.teststeprun_count) %></td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class="span-12 last" id="status_chart"></div>
</div>
<div class="span-24 last">
   <div class="span-12">
    <h2>Test Results</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th class="right_align">Unknown</th>
          <th class="right_align">Ok</th>
          <th class="right_align">Failure</th>
          <th class="right_align">Total</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td>Testsuites</td>
            <td class="right_align"><%= as_number(@project_statistic.testsuiterun_result_groups['unknown']) %></td>
            <td class="right_align"><%= as_number(@project_statistic.testsuiterun_result_groups['ok']) %></td>
            <td class="right_align"><%= as_number(@project_statistic.testsuiterun_result_groups['failed']) %></td>
            <td class="right_align"><%= as_number(@project_statistic.testsuiterun_count) %></td>
          </tr>
          <tr>
            <td>Testcases</td>
            <td class="right_align"><%= as_number(@project_statistic.testcaserun_result_groups['unknown']) %></td>
            <td class="right_align"><%= as_number(@project_statistic.testcaserun_result_groups['ok']) %></td>
            <td class="right_align"><%= as_number(@project_statistic.testcaserun_result_groups['failed']) %></td>
            <td class="right_align"><%= as_number(@project_statistic.testcaserun_count) %></td>
          </tr>
          <tr>
            <td>Teststeps</td>
            <td class="right_align"><%= as_number(@project_statistic.teststeprun_result_groups['unknown']) %></td>
            <td class="right_align"><%= as_number(@project_statistic.teststeprun_result_groups['ok']) %></td>
            <td class="right_align"><%= as_number(@project_statistic.teststeprun_result_groups['failed']) %></td>
            <td class="right_align"><%= as_number(@project_statistic.teststeprun_count) %></td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="span-12 last" id="results_chart">
  </div>
</div>

<div class="span-24 last" id="testlog_chart"></div>

