= simple_form_for @project do |f|
  = f.error_notification
  %fieldset
    %legend= t('projects.form.project')
    .fieldset
      = f.input :name
      = f.button :submit, t('helpers.save')
      = link_to t('helpers.cancel'), projects_path,  :class => 'button', :id => 'cancel'

