= simple_form_for @project do |f|
  = f.error_notification
  %fieldset
    %legend= t('projects.form.project')
    .fieldset
      = f.input :name
      = f.button :submit
      = cancel_link @project, :class => 'button', :id => 'cancel'

