- title "Projects"
%ul.link_list{ 'style' => "margin: 0px; padding: 0px;" }
  %li= link_to "New Project", new_project_path,:class => 'button_add',:style => 'margin-bottom: 1em' if permitted_to? :create, :projects

%table
  %thead
    %tr
      %th Name
      %th Actions
  %tbody
    - for project in @projects
      %tr
        %td= project.name
        %td
          = link_to "Show", project if permitted_to? :read, project
          = link_to "Edit", edit_project_path(project) if permitted_to? :update, project
          = link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete if permitted_to? :delete, project

