<%= simple_form_for @testcase do |f| %>
  <%= f.error_notification %>
  <fieldset class="span-23 last">
    <legend>Testcase</legend>
    <%= f.input :name, :input_html => { :style => 'width: 620px;' }  %>
    <%= f.input :description, :input_html => { :style => 'width: 620px; padding: 0px;' } %>
    <div class="span-11">
      <%= f.input :test_area, :as => :select, :collection => Testcase.test_areas, :include_blank => false %>
      <%= f.input :test_variety, :as => :select, :collection => Testcase.test_varieties, :include_blank => false %>
      <%= f.input :test_level, :as => :select, :collection => Testcase.test_levels, :include_blank => false %>
    </div>
    <div class="span-11 right last">
      <%= f.input :execution_type, :as => :select, :collection => Testcase.execution_types, :include_blank => false %>
      <%= f.input :test_status, :as => :select, :collection => Testcase.test_statuses, :include_blank => false %>
      <%= f.input :test_method, :as => :select, :collection => Testcase.test_methods, :include_blank => false %>
      <%= f.input :test_priority, :as => :select, :collection => Testcase.test_priorities, :include_blank => false %>
    </div>
    <div class="span-24 last buttons">
      <%= f.button :submit %>
    </div>
  </fieldset>
<% end %>
