<% title "Testcases" %>
<% content_for :head do  %>
  <style type="text/css">
    div.row { margin-bottom: 1em; }
    ul.taglist { list-style: none; margin: 0px 0px; padding: 0px; }
    ul.taglist li { margin: 0px 0px 0.3em 0px; padding: 0.5em 1em; -moz-border-radius: 6px; color: #0066cc; font-weight: bold; background: #C3D9FF; }
    ul.taglist li a { color: #0066cc; text-decoration: underline; }
    ul.taglist li a:hover { color: #0099ff; text-decoration: none; }
  </style>

<% end %>

<div class="row span-24 last">
  <%= form_tag(search_testcases_path , :method => 'get') do %>
    <fieldset class="span-24 last">
      <legend>Search</legend>
      <div class="fieldset">
        <div class="row span-22 last">
          <%= label_tag(:search, 'Search: ') %>
          <%= text_field_tag(:search, params[:search]) %>
          <%= submit_tag 'Search' %>
          <%= "#{@testcases.total_entries} Testcases found" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

<div class="span-20">
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Version</th>
        <th>Name</th>
        <th>Execution Type</th>
        <th>Test Status</th>
        <th>Test Priority</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for testcase in @testcases %>
        <tr>
          <td><%= testcase.key %></td>
          <td><%= testcase.version %></td>
          <td><%= testcase.name %></td>
          <td><%= testcase.value_for(:execution_type) %></td>
          <td><%= testcase.value_for(:test_status) %></td>
          <td><%= testcase.value_for(:test_priority) %></td>
          <td>
            <%= link_to "Show", testcase if permitted_to? :read, testcase %>
            <%= link_to "Edit", edit_testcase_path(testcase) if permitted_to? :update, testcase %>
            <%= link_to "Destroy", testcase, :confirm => 'Are you sure?', :method => :delete if permitted_to? :delete, testcase %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @testcases %>

  <p><%= link_to "New Testcase", new_testcase_path if permitted_to? :create, :testcases %></p>
</div>

<div class="span-4 last">
  <ul class="taglist">
    <% @tag_counts.each do |t|  %>
      <li>
        <%=  link_to t.name, testcases_path(:tag => t.name)  %>
        <span class="right"><%= t.count %></span>
      </li>
    <% end %>
  </ul>
</div>