- title t('testcases.index.title')
- content_for :head do
  :css
    div.row {
      margin-bottom: 1em;
    }
    ul.taglist {
      list-style: none;
      margin: 0px 0px;
      padding: 0px;
    }
    ul.taglist li {
      margin: 0px 0px 0.3em 0px;
      padding: 0.5em 1em;
      -moz-border-radius: 6px;
      color: #0066cc;
      font-weight: bold;
      background: #C3D9FF;
    }
    ul.taglist li a {
      color: #0066cc;
      text-decoration: underline;
    }
    ul.taglist li a:hover {
      color: #0099ff;
      text-decoration: none;
    }

.row.span-24.last
  = form_tag(search_testcases_path, :method => 'get') do
    %fieldset.span-24.last
      %legend Search
      .fieldset
        .row.span-15
          = label_tag(:search, t('testcases.index.searchlabel'))
          = text_field_tag(:search, params[:search])
          = submit_tag t('testcases.index.searchbutton')
          = t('testcases.index.testcases_found', :count => @testcases.total_entries)
        .right
          = link_to t('testcases.index.new_testcase'), new_testcase_path, :class => 'button_add', :id => 'new_testcase' if permitted_to? :create, :testcases

.span-20
  %table
    %thead
      %tr
        %th= t('testcases.index.key')
        %th= t('testcases.index.version')
        %th= t('testcases.index.name')
        %th= t('testcases.index.execution_type')
        %th= t('testcases.index.test_status')
        %th= t('testcases.index.test_priority')
        %th= t('testcases.index.actions')
    %tbody
      - for testcase in @testcases
        %tr
          %td= testcase.key
          %td= testcase.version
          %td= testcase.name
          %td= value_for(testcase, :execution_type)
          %td= value_for(testcase, :test_status)
          %td= value_for(testcase, :test_priority)
          %td
            = link_to t('helpers.show'), testcase if permitted_to? :read, testcase
            = link_to t('helpers.edit'), edit_testcase_path(testcase) if permitted_to? :update, testcase
            = link_to t('helpers.destroy'), testcase, :confirm => t('helpers.confirm'), :method => :delete if permitted_to? :delete, testcase

  = my_will_paginate @testcases

.span-4.last
  %ul.taglist
    - @tag_counts.each do |t|
      %li
        = link_to t.name, testcases_path(:tag => t.name)
        %span.right= t.count

