<% title "Testcase" %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui.css' %>
  <%= javascript_include_tag 'jquery.tablednd' %>
  <%= stylesheet_link_tag 'jquery.tag'  %>

  <style type="text/css">
    .link_list {
      list-style: none;
    }

    .top_margin {
      margin-top: 1em;
      margin-bottom: 0px;
    }
    
    .link_list li {
      float: left;     
      margin: 0px;
      padding: 0px 5px 0px 0px;
    }

    .handle {
      cursor: move;
      font-size: 0.8em;
      color: #888888;
      vertical-align: top;
    }

    ol#attachments {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }

    .dragClass {
      background-color: #cccccc;
    }

    tbody tr:nth-child(even) td {
      background-color: transparent;
    }  </style>
  <script type="text/javascript">
    $(function() {
      $('a.button').button();
      

      $('#attachments').sortable({
        axis: 'y',
        dropOnEmpty: false,
        handle: '.handle',
        cursor: 'move',
        items: 'li',
        opacity: 0.4,
        scroll: true,
        update: function(){
          $.ajax({
            type: 'post',
            data: $('#attachments').sortable("serialize"),
            dataType: 'script',
            complete: function(request){
              $('#attachments').effect('highlight');
            },
            url: '<%=  sort_attachments_testcase_url(@testcase) -%>' })
        }
      });

      $('#teststeps').tableDnD( {
        onDragClass: 'dragClass',
        dragHandle: 'handle',
        onDrop: function(table, row) {
          $.ajax({
            type: 'post',
            data: $.tableDnD.serialize(),
            dataType: 'script',
            complete: function(request){
              $('#teststeps').effect('highlight');
            },
            url: '<%= sort_teststeps_testcase_url(@testcase) %>'
          });
        }
      })
    })
  </script>
<% end %>
<fieldset class="span-24 last">
  <legend>Testcase</legend>
  <div class="span-22 last" style="padding: 1em;">
    <div class="row span-22 last">
      <div class="label span-4">Key:</div>
      <div class="span-7"><%= @testcase.key %></div>
      <div class="label span-4">Version:</div>
      <div class="span-7 last"><%= @testcase.version %></div>
    </div>

    <div class="row span-22 last">
      <div class="label span-4">Project:</div>
      <div class="span-18 last"><%=  @testcase.project.try(:to_label) %></div>
    </div>

    <div class="row span-22 last">
      <div class="label span-4">Name:</div>
      <div class="span-18 last"><%=  @testcase.name %></div>
    </div>

    <div class="row">
      <div class="label span-4">Description:</div>
      <div class="span-18 last"><%= render_textile(@testcase.description) %></div>
    </div>

    <div class="row span-22 last">
      <div class="label span-4">Test Area:</div>
      <div class="span-7"><%= @testcase.value_for(:test_area) %></div>
      <div class="label span-4">Test Variety:</div>
      <div class="span-7 last"><%= @testcase.value_for(:test_variety) %></div>
    </div>

    <div class="row span-22 last">
      <div class="label span-4">Test Level:</div>
      <div class="span-7"><%= @testcase.value_for(:test_level) %></div>
      <div class="label span-4">Execution Type:</div>
      <div class="span-7 last"><%= @testcase.value_for(:execution_type) %></div>
    </div>

    <div class="row span-22 last">
      <div class="label span-4">Test Status:</div>
      <div class="span-7"><%= @testcase.value_for(:test_status) %></div>
      <div class="label span-4">Test Priority:</div>
      <div class="span-7 last"><%= @testcase.value_for(:test_priority) %></div>
    </div>

    <div class="row span-22 last">
      <div class="label span-4">Test Method:</div>
      <div class="span-7 last"><%= @testcase.value_for(:test_method) %></div>
    </div>

    <div class="row span-22 last">
      <div class="label span-4">Created:</div>
      <div class="span-7"><%= @testcase.created_at %></div>
      <div class="label span-4">Edited:</div>
      <div class="span-7 last"><%= @testcase.created_at %></div>
    </div>

    <div class="row span-22 last">
      <div class="label span-4">Created by:</div>
      <div class="span-7"><%= @testcase.created_by.try(:to_label) %></div>
      <div class="label span-4">Edited by:</div>
      <div class="span-7 last"><%= @testcase.edited_by.try(:to_label) %></div>
    </div>

    <div class="row span-22 last">
      <div class="label span-4">Tag list:</div>
      <div class="span-18 last">
        <ul style="margin: 0px; padding: 0px;">
          <% @testcase.tag_list.each do |tag| %>
            <li style="list-style: none; float: left; background-color: #cccccc; border-color: #aaaaaa; border-width: 1px; border-style: solid; padding: 2px 4px; margin-right: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-border-radius: 4px;">
              <%= tag %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="row span-22 last">      
      <ul class="prepend-4 span-18 link_list top_margin last">
        <% if permitted_to? :update, @testcase -%>
          <li><%= link_to("Edit", edit_testcase_path(@testcase), :id => 'edit', :class => 'button')  %></li>
        <% end -%>
        <% if permitted_to? :delete, @testcase -%>
          <li><%= link_to("Destroy", @testcase, :confirm => 'Are you sure?', :method => :delete, :id => 'delete', :class => 'button') %></li>
        <% end -%>
        <% if permitted_to? :read, :testcases -%>
          <li><%= link_to("View All", testcases_path, :id => 'view_all', :class => 'button') %></li>
        <% end -%>
        <% if permitted_to? :create, @testcase -%>
          <li><%= link_to("Create Version", create_version_testcase_path(@testcase), :id => 'create_version', :method => 'put', :class => 'button')  %></li>
        <% end -%>
      </ul>
    </div>
  </div>
</fieldset>

<fieldset class="span-24 last">
  <legend>Attachments</legend>
  <div class="span-22 last fieldset">
    <ul class="link_list span-22 last" style="margin: 0px 0px 1em 0px; padding: 0px">
      <li><%= link_to 'Add Attachment', new_testcase_attachment_url(@testcase), :class => 'button' if permitted_to? 'update', @testcase %></li>
    </ul>
    <ol id="attachments" >
      <% @testcase.testcase_attachments.each do |attachment| %>
        <li class="span-22 last" id="attachment_<%= attachment.to_param %>">
          <div class="handle span-2">[drag]</div>
          <div class="span-8">
            <%= link_to attachment.attachment_file_name, attachment.attachment.url %>
          </div>
          <div class="span-4">
            <%= attachment.attachment_file_size.bytes %> Bytes
          </div>
          <div class="span-4 last">
            <%= link_to 'Delete', testcase_attachment_url(@testcase, attachment), :confirm => 'Are you shure?', :method => 'delete' %>
          </div>
        </li>
      <% end %>
    </ol>
  </div>
</fieldset>

<h2>Test Steps</h2>

<ul class="link_list span-24 last" style="margin: 0px 0px 1em 0px; padding: 0px;">
  <li><%= link_to 'New Test Step', new_testcase_teststep_path(@testcase), :id => 'new_teststep', :class => 'button' if permitted_to? 'update', @testcase %></li>
</ul>

<table id="teststeps">
  <thead>
    <tr>
      <th>#</th>
      <th>Step</th>
      <th>Expected Result</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @testcase.teststeps.each do |teststep| %>
      <tr id="<%= teststep.to_param %> ">
        <td class="handle">[drag]</td>
        <td><%= render_textile(teststep.step) %></td>
        <td><%= render_textile(teststep.expected_result) %></td>
        <td>
          <%= link_to "Edit", edit_testcase_teststep_path(@testcase, teststep), {:id => 'edit_teststep'} %>
          <%= link_to "Delete", testcase_teststep_path(@testcase, teststep), :method => 'delete', :confirm => 'Are you sure?', :id => 'delete_teststep' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>