- title t('testsuiteruns.index.title')
- content_for(:head) do
  :css
    div.testsuiteruns fieldset {
      margin-bottom: 1em;
    }

.testsuiteruns
  %fieldset
    %legend= t('testsuiteruns.index.search', :count => @testruns.total_entries)
    .fieldset
      = simple_form_for @testsuiterun_search, :url => url_for(:controller => 'testsuiteruns', :action => 'index'), :html => {:method => 'get'} do |f|
        .span-22.last
          = f.input :status, :as => :radio, :collection => options_for_status
        .span-22.last
          = f.input :result, :as => :radio, :collection => options_for_result
        .span-22.last{:style => 'margin-bottom: 1em'}
          = f.button :submit, t('helpers.search'), :id => 'testsuiterun_search_submit'
  %table
    %thead
      %tr
        %th= t('simple_form.labels.testsuite.key')
        %th= t('simple_form.labels.testsuite.name')
        %th= t('testsuiteruns.index.result')
        %th= t('testsuiteruns.index.updated_at')
        %th= t('testsuiteruns.index.actions')
    %tbody
      - @testruns.each do |run|
        %tr
          %td= run.testsuite.key_and_version
          %td= run.testsuite.name
          %td= result_label(run.result)
          %td= l(run.latest_status_update, :format => :short)
          %td= link_to t('helpers.show'), run, :id => 'show_testsuiterun'

  = my_will_paginate @testruns
