<% content_for :head do  %>
  <style type="text/css">
    ul.step_buttons {
      list-style: none;
      margin: 0px;
      padding: 1em 0px 0px 0px;
    }

    ul.step_buttons li.step_ok {
      float: left;
      list-style: none;
      width: auto;
      min-height: 32px;
      background-image: url("/icons/medium/ok.png");
      background-position: left;
      background-repeat: no-repeat;
      line-height: 32px;
      padding-right: 32px;
    }

    ul.step_buttons li.step_failure {
      float: left;
      list-style: none;
      width: auto;
      min-height: 32px;
      line-height: 32px;
      background-image: url("/icons/medium/failure.png");
      background-position: left;
      background-repeat: no-repeat;
    }

    ul.step_buttons li a {
      padding-left: 35px;
      min-height: 32px;
      line-height: 32px;
      height: 32px;
    }

    div.progressbar {
      height: 1.5em;
      border-color: #B4B4B4;
      border-width: 1px;
      border-style: solid;
      margin-bottom: 1em;
    }
  </style>

  <script type="text/javascript">
    $(function() {
      $('#progressbar').progressbar({ value: <%= completed_percentage %>  });
      $('#show_all,#show_current').button({icons: { primary:'ui-icon-search'}});
      $('#set_all_failed').button({icons: { primary:'ui-icon-circle-close'}});
      $('#set_all_ok').button({icons: { primary:'ui-icon-circle-check'}});
    })
  </script>
<% end %>
<h1>Test Run</h1>
<div class="progressbar span-21" id="progressbar"></div>
<div class="right"><%=  "#{number_to_percentage(completed_percentage, :precision => 1)} completed" %></div>
<fieldset class="span-24 last">
  <legend >Testrun</legend>
  <div class="fieldset span-22 last" style="padding: 1em;" >
    <div class="row span-22 last">
      <div class="label span-4">Key</div>
      <div class="span-7"><%= @testrun.testsuite.key %></div>
      <div class="label span-4">Name</div>
      <div class="span-7 last"><%= @testrun.testsuite.name %></div>
    </div>
    <div class="row span-22 last">
      <div class="label span-4">Status</div>
      <div class="span-7"><%= @testrun.status %></div>
      <div class="label span-4">Result</div>
      <div class="span-7 last"><%= @testrun.result %></div>
    </div>
    <div class="row span-22 last">
      <div class="label span-4">Description</div>
      <div class="span-18 last"><%= render_textile(@testrun.testsuite.description) %></div>
    </div>
    <div class="row span-22 last">
      <div class="prepend-4 span-18 last">
        <%= link_to("Show all testcases", show_all_testsuiterun_path(@testrun), :method => 'put', :id => 'show_all') if @testrun.show_current? %>
        <%= link_to("Show only current", show_current_testsuiterun_path(@testrun), :method => 'put', :id => 'show_current') if @testrun.show_all? %>
        <% if show_steplink?(@testrun) && @testrun.show_all? %>
          <%= link_to("Set all to OK", set_all_ok_testsuiterun_path(@testrun), :method => 'put', :id => 'set_all_ok')  %>
          <%= link_to("Set all to FAILED", set_all_failed_testsuiterun_path(@testrun), :method => 'put', :id => 'set_all_failed')  %>
        <% end %>
      </div>
    </div>
  </div>
</fieldset>

<% if @testrun.show_current? %>
  <% if nextcase(@testrun) -%>
    <%= render :partial => "testcaserun", :object => nextcase(@testrun), :locals => { :full => false }  %>
  <% end -%>
<% else %>  
  <%= render :partial => "testcaserun", :collection => @testrun.testcaseruns.includes(:testcase).includes(:teststepruns => :teststep), :locals => { :full => true }  %>
<% end %>

<% if show_steplink?(@testrun) %>
  <div class="span-24 last">
    <ul class="step_buttons right">
      <li class="step_ok" >
        <%= link_to 'Step (Ok)', step_ok_path(@testrun), :id => 'step_ok' %>
      </li>
      <li class="step_failure" >
        <%= link_to 'Step (Failure)', step_failure_path(@testrun), :id => 'step_failure' %>
      </li>
    </ul>
  </div>
<% end %>