<fieldset class="span-24 last">
    <legend>Testsuite</legend>
    <div class="fieldset span-22 last">
        <%= simple_form_for @testsuite do |f| %>
            <%= f.error_notification %>

            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.button :submit %>
        <% end %>
    </div>
</fieldset>
