- content_for :head do
  :css
    form.testcase textarea, input[type="text"] {
      padding: 4px;
      width: 690px;
    }

    div.textile {
      margin-left: 120px;
    }

  :javascript
    $(function() {
      $('textarea').markItUp(mySettings);
    });

%fieldset.span-24.last
  %legend= t('testsuites.form.testsuite')
  .fieldset.span-22.last
    = simple_form_for @testsuite do |f|
      = f.error_notification
      = f.input :name
      = f.input :description
      = f.button :submit, t('helpers.save'), :id => 'testsuite_submit'
      = cancel_link @testsuite, :class => 'button', :id => 'cancel'

