<% title "Testsuites" %>

<% content_for :head do %>
<style type="text/css">
    div.row {
      margin-bottom: 1em;
    }
  </style>
<% end %>
<div class="row span-24 last">
  <%= form_tag(search_testsuites_path , :method => 'get') do %>
    <fieldset class="span-24 last">
      <legend>Search</legend>
      <div class="fieldset">
        <div class="row span-15">
          <%= label_tag(:q, 'Search: ') %>
          <%= text_field_tag(:q, params[:q]) %>
          <%= submit_tag 'Search', :id => 'search' %>
          <%= "#{@testsuites.total_entries} Testsuites found" %>
        </div>
        <div class="row right">
          <%= link_to "New Testsuite", new_testsuite_path, :id => 'new_testsuite', :class => 'button_add'  %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Version</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @testsuites.each do |testsuite| %>
      <tr>
        <td><%= testsuite.key %></td>
        <td><%= testsuite.version %></td>
        <td><%= testsuite.name %></td>
        <td>
          <%= link_to "Show", testsuite, :id => 'show_testsuite' %>
          <%= link_to "Edit", edit_testsuite_path(testsuite), :id => 'edit_testsuite' %>
          <%= link_to 'Run', run_testsuite_path(testsuite), :id => 'run_testsuite' %>
          <%= link_to "Delete", testsuite, :method => 'delete', :confirm => 'Are you sure?', :id => 'delete_testsuite' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @testsuites %>