- title "Testsuites"

- content_for :head do
  :css
    div.row {
      margin-bottom: 1em;
    }

.row.span-24.last
  = form_tag(search_testsuites_path , :method => 'get') do
    %fieldset.span-24.last
      %legend Search
      .fieldset
        .row.span-15
          = label_tag(:q, t('testsuites.index.searchlabel'))
          = text_field_tag(:q, params[:q])
          = submit_tag t('testsuites.index.searchbutton'), :id => 'search'
          = t('testsuites.index.testsuites_found', :count => @testsuites.total_entries)
        .row.right
          = link_to t('testsuites.index.new_testsuite'), new_testsuite_path, :id => 'new_testsuite', :class => 'button_add'

%table
  %thead
    %tr
      %th= t('simple_form.labels.testsuite.key')
      %th= t('simple_form.labels.testsuite.version')
      %th= t('simple_form.labels.testsuite.name')
      %th= t('testsuites.index.actions')
  %tbody
    - @testsuites.each do |testsuite|
      %tr
        %td= testsuite.key
        %td= testsuite.version
        %td= testsuite.name
        %td
          = link_to t('helpers.show'), testsuite, :id => 'show_testsuite'
          = link_to t('helpers.edit'), edit_testsuite_path(testsuite), :id => 'edit_testsuite'
          = link_to t('helpers.run'), run_testsuite_path(testsuite), :id => 'run_testsuite'
          = link_to t('helpers.destroy'), testsuite, :method => 'delete', :confirm => t('helpers.confirm'), :id => 'delete_testsuite'

= my_will_paginate @testsuites

