<h1>Testsuite</h1>
<fieldset class="span-24 last">
  <legend>Testsuite</legend>
  <div class="fieldset span-22 last">
    <div class="label span-3">
      Key:
    </div>
    <div class="span-4">
      <%= @testsuite.key || "New" %>
    </div>

    <div class="label span-3">
      Name:
    </div>
    <div class="span-4">
      <%= @testsuite.name  %>
    </div>

    <div class="label span-3">
      Version:
    </div>
    <div class="span-4 last">
      <%= @testsuite.version  %>
    </div>


    <div class="span-22 last">
      <div class="label span-3">
         Description:
      </div>
      <div class="span-19 last">
         <%= render_textile(@testsuite.description) %>
      </div>
    </div>

    <div class="span-22 last">
      <%= link_to "Edit", edit_testsuite_path(@testsuite) %>
      <%= link_to "Show all", testsuites_path %>      
    </div>
  </div>
</fieldset>


<h2>Testcases</h2>
<ul>
  <li><%= link_to 'Add Testcase', show_testcases_url(@testsuite), :id => 'add_testcase' %></li>
</ul>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Key</th>
      <th>Version</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @testsuite_entries.each do |entry| %>
      <tr>
        <td><%= entry.position %></td>
        <td><%= entry.testcase.key %> </td>
        <td><%= entry.testcase.version %> </td>
        <td><%= entry.testcase.name %> </td>
        <td>
          <%= link_to 'Up', move_testcase_up_url(@testsuite, entry) %>
          <%= link_to 'Down', move_testcase_down_url(@testsuite, entry) %>
          <%= link_to "Show", entry.testcase %>
          <%= link_to "Delete", testsuite_testsuite_entry_url(@testsuite, entry), :method => 'delete', :confirm => 'Are you sure?', :id => 'remove_testcase' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
