<h1>Add Testcases</h1>

<% content_for :title => 'Add Testcases' %>
<% content_for :head do %>
  <style type="text/css">
    .handle {
      color: #aaaaaa;
      font-size: 0.8em;
      cursor: move;
    }
    div.testcases {
      background-color: #C3D9FF;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      padding: 1em;
    }
    div.testcases ol {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }

    div.search, div.testcases ol li {
      background-color: #E5ECF9;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      padding: 0.5em 1em;
      margin-bottom: 0.3em;
    }

    div.search input {
    }

    .delete {
      padding: 0.5em 0.5em;
      cursor: pointer;
    }
  </style>

  <script type="text/javascript">
    $(function() {
      $('#testcases').sortable({
        connectWith: '#testentries',        
        helper: 'clone',
        handle: '.handle',
        revert: true
      });

      $('#testentries').sortable({
        handle: '.handle',
        axis: 'y',
        update: function() {
          $('#message').hide();
          $.post('<%= assign_testcase_testsuite_url(@testsuite) %>', $('#testentries').sortable('serialize'));
        }
      });

      $('.delete').click(function() {
        $("#message").hide();
        $.post('<%= remove_testcase_testsuite_url(@testsuite)%>', "entryid=" + $(this).attr('id') );
        $(this).parent('li').remove();
        return false;
      });

      $('#search_form').submit(function() {
        $.post('<%= search_testcases_testsuite_url(@testsuite) %>', "search=" + $('#searchfield').val());
        return false;
      });
    })
  </script>
<% end %>

<div id="debug">
</div>
<div id="message" class="notice" style="display: none">
  Hossa
</div>

<fieldset class="span-24 last" style="margin-bottom: 1em;">
  <legend>Testsuite</legend>
  <div class="fieldset span-22 last">
    <div class="label span-2"><%= @testsuite.key %></div>
    <div class="span-20 last"><%= @testsuite.name %></div>
    <div class="span-22 last" style="margin-top: 1em;"><%= link_to 'Back', @testsuite %></div>
  </div>
</fieldset>

<div class="span-11">
  <h2>Available testcases</h2>
  <div class="testcases">
    <div class="search">
      <%= form_tag(search_testcases_testsuite_url(@testsuite), :id => 'search_form') do %>
        <%= label_tag(:search, 'Search')  %>
        <%= text_field_tag(:search, "", :id => 'searchfield') %>
        <%= submit_tag 'Search', :id => 'search_button' %>
      <% end %>
    </div>
    <ol id="testcases">
      <%= render 'testcases' %>
    </ol>
  </div>
</div>

<div class="span-11 right last">
  <h2>Assigned testcases</h2>
  <div class="testcases">
    <ol class="testcases" id="testentries" style="min-height: 3em;">
      <%= render 'testsuite_entries' %>
    </ol>
  </div>
</div>