<% content_for :head do %>
  <%= javascript_include_tag 'jquery.tablednd.js' %>
  <style type="text/css">
    .dragHandle {
      cursor: move;
      color: #888888;
      font-size: 0.8em;
    }
    .dragClass {
      background-color: #eeeeee;
    }
    tbody tr:nth-child(even) td {
      background-color: transparent;
    }
  </style>
  <script language="javascript">
    $(function() {
      $('#tctable').tableDnD( {
        onDragClass: 'dragClass',
        dragHandle: 'dragHandle',
        onDrop: function(table, row) {
          $.ajax({
            type: 'post',
            data: $.tableDnD.serialize(),
            dataType: 'script',
            complete: function(request){
              $('#tctable').effect('highlight');
            },
            url: '<%= sort_testcases_testsuite_url(@testsuite) %>'
          });
        }
      })
    })
  </script>
<% end %>
<h1>Testsuite</h1>
<fieldset class="span-24 last">
  <legend>Testsuite</legend>
  <div class="fieldset span-22 last">
    <div class="label span-3">
      Key:
    </div>
    <div class="span-4">
      <%= @testsuite.key || "New" %>
    </div>

    <div class="label span-3">
      Name:
    </div>
    <div class="span-4">
      <%= @testsuite.name  %>
    </div>

    <div class="label span-3">
      Version:
    </div>
    <div class="span-4 last">
      <%= @testsuite.version  %>
    </div>


    <div class="span-22 last">
      <div class="label span-3">
        Description:
      </div>
      <div class="span-19 last">
        <%= render_textile(@testsuite.description) %>
      </div>
    </div>

    <div class="span-22 last">
      <ol class="link_list prepend-3 span-19 last" style="margin: 0px;">
        <% if permitted_to? :update, @testsuite -%>
          <li><%= link_to("Edit", edit_testsuite_path(@testsuite), :class => 'button') %></li>
        <% end -%>
        <% if permitted_to? :create, Testsuiterun.new -%>
          <li><%= link_to('Run', run_testsuite_path(@testsuite), :id => 'run_testsuite', :class => 'button') %></li>
        <% end -%>
        <% if permitted_to? :update, @testsuite -%>
          <li><%= link_to("Create version", create_version_testsuite_path(@testsuite), :id => 'create_version', :class => 'button',:method => 'put') %></li>
        <% end -%>
        <li><%= link_to("Show All", testsuites_path, :class => 'button') %></li>
      </ol>
    </div>
  </div>
</fieldset>


<h2>Testcases</h2>
<ol class="link_list span-24 last" style="margin: 0px; padding: 0px 0px 1em 0px;">
  <li><%= link_to('Add Testcases', show_add_testsuite_url(@testsuite), :id => 'show_add', :class => 'button_add') %></li>
</ol>
<table id="tctable">
  <thead>
    <tr>
      <th>#</th>
      <th>Key</th>
      <th>Version</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @testsuite_entries.each do |entry| %>
      <%= content_tag :tr, :id => entry.id do %>
      <td class="dragHandle">[drag]</td>
      <td><%= entry.testcase.key %> </td>
      <td><%= entry.testcase.version %> </td>
      <td><%= entry.testcase.name %> </td>
      <td>
        <%= link_to "Show", entry.testcase %>
        <%= link_to "Delete", testsuite_testsuite_entry_url(@testsuite, entry), :method => 'delete', :confirm => 'Are you sure?', :id => 'remove_testcase' %>
      </td>
    <% end %>
  <% end %>
</tbody>
</table>
