<h1>Login</h1>
<style type="text/css">
</style>
<%= simple_form_for @user_session, :url => url_for(:action => 'create') do |f| %>
  <fieldset>
    <legend>Login</legend>
    <%= f.input :login %>
    <%= f.input :password %>
    <div class="buttons">
      <%= f.button :submit, 'Login' %>
      <%= link_to 'Cancel', root_url %>
    </div>
  </fieldset>
<% end %>