<h1>Login</h1>
<% content_for :head do %>
  <style type="text/css">
    form.simple_form input[type="text"], input[type="password"] {
      padding: 4px;
      width: 570px;
    }
  </style>
<% end %>


<fieldset class="span-24 last">
  <legend>Login</legend>
  <div class="fieldset span-22 last">

     <%= simple_form_for @user_session, :url => url_for(:action => 'create') do |f| %>
        <%= f.error_notification %>
        <%= f.input :login %>
        <%= f.input :password %>
        <div class="buttons">
          <%= f.button :submit, 'Login' %>
          <%= link_to 'Cancel', root_url %>
        </div>
     <% end %>
</div>
</fieldset>
    