<% content_for :head do %>

  <%= javascript_include_tag 'markitup/jquery.markitup.js' %>
  <%= javascript_include_tag 'markitup/sets/textile/set.js' %>
  <%= stylesheet_link_tag 'markitup/skins/simple/style.css'   %>
  <%= stylesheet_link_tag 'markitup/sets/textile/style.css'   %>

  <style type="text/css">
    form.testcase textarea {
      padding: 4px;
      width: 570px;
      
    }
    div.textile {
      margin-left: 120px;      
    }
  </style>
  <script type="text/javascript">
    $(function() {
      $('textarea').markItUp(mySettings);
    });
  </script>
<% end %>

<fieldset class="span-24 last">
  <legend>Test step</legend>
  <div class="fieldset">
    <%= simple_form_for [@testcase, @teststep] do |f| %>
      <%= f.input :step %>
      <%= f.input :expected_result %>
      <%= f.button :submit %>
    <% end %>
  </div>
</fieldset>