.container
  .left
    - if current_project
      = t('layouts.login.current_project', :current_project => current_project.name)
      = link_to t('layouts.login.choose'), :controller => :projects, :action => :activatable_projects unless current_user.nil?
    - else
      = link_to t('layouts.login.choose_current_project'), :controller => :projects, :action => :activatable_projects unless current_user.nil?
  .right.last
    - if current_user
      %span= t('layouts.login.welcome', :current_user => current_user.display_name)
      = link_to t("layouts.login.logout"), logout_url
      |
      \#{link_to t('layouts.login.edit_user_profile'), edit_user_url(current_user), :id => 'edit_profile'}
    - else
      = link_to t('layouts.login.login'), login_url
      |
      \#{link_to t('layouts.login.register'), new_user_url}

