<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Test Manager" %></title>
    <%= stylesheet_link_tag "blueprint/screen.css", :media => 'screen' %>
    <%= stylesheet_link_tag "blueprint/print.css", :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag "blueprint/ie.css", :media => "screen, projection"%>
    <![endif]-->    
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="login">
      <%=  render '/layouts/login' %>
    </div>
    <div class="mainmenu">
      <div class="container">
        <%= render '/layouts/menu' %>
      </div>
    </div>
    <div class="container" style="min-height: 200px;">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, :id => "flash_#{name}", :class => "span-24 last #{name}", :style => 'padding: 0px;' do %>
            <%= content_tag :div, msg, :style => 'padding: 1em;' %>
        <% end %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
