!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : t("layouts.application.title")
    = stylesheet_link_tag "blueprint/screen.css", :media => 'screen'
    = stylesheet_link_tag "blueprint/print.css", :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag "blueprint/ie.css", :media => "screen, projection"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag 'smoothness/jquery-ui.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
  %body
    .login
      = render '/layouts/login'
    .mainmenu
      .container
        = render '/layouts/menu'
    .container{:style => "min-height: 200px;"}
      - flash.each do |name, msg|
        = content_tag :div, :id => "flash_#{name}", :class => "span-24 last #{name}", :style => 'padding: 0px;' do
          = content_tag :div, msg, :style => 'padding: 1em;'
      = content_tag :h1, yield(:title) if show_title?
      = yield

